/**
 * @TODO Rework this whole thing
 * @TODO Rework themeing (e.g. variable names)
 * @TODO Rework classes (e.g. "ls-folder")
 * @TODO Rework all the coloring (probably as part of the themeing rework)
 * @TODO Add error coloring
 */

:root {
    --fg-color: #c7ccd1;
    --bg-color: #1c2023;
    /* --fg-bg-color: #747c84; */

    --username: #95c7ae;
    --hostname: #ae95c7;
}

* {
    font-size: x-large;
    font-family: "Courier New", monospace;
    color: var(--fg-color);
    background-color: var(--bg-color);
    white-space: break-space;
}

.nomark {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body,
#terminal {
    margin: 0;
    min-height: 100vh;
    padding-left: .25%;

    /**
     * Argh... this is the bane of my existance...
     * on Windows this breaks if there is nothing
     * to scroll to yet... but on Linux, if there
     * *is* something to scroll to and this is missing
     * then the caret is hidden, even if you're
     * scrolled all the way down...
     *
     * TODO: Find a portable way to fix this issue...
     */
    padding-bottom: .1%;
}

.username {
    color: var(--username);
}

.hostname {
    color: var(--hostname);
}

.ls-folder {
    color: var(--hostname);
}

.ls-file {
    color: var(--fg-color);
}

.command:hover {
    cursor: pointer;
    color: var(--username);
}

img {
    background: var(--bg-color);
}

d-window,
d-img-viewer {
    z-index: 10;
    padding: 1% 1%;
    border: 1px solid var(--fg-color);
    position: fixed;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

span.caret {
    animation: blink 1s step-end infinite;
    border-bottom: 2px solid white;
}

@keyframes blink {

    from,
    to {
        border-color: var(--fg-color);
    }

    50% {
        border-color: transparent;
    }
}
